<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>Transport Dashboard</h1>

      <div class="filters">
        <label> From: <input type="date" [(ngModel)]="fromDate" /> </label>
        <label> To: <input type="date" [(ngModel)]="toDate" /> </label>
        <label>
          Location:
          <select [(ngModel)]="selectedLocation">
            <option>All</option>
            <option>Chennai</option>
            <option>Hyderabad</option>
            <option>Bangalore</option>
          </select>
        </label>
      </div>

      <div class="dashboard">
        <div class="card">
          <h2>SOS Alerts</h2>
          <ul class="alert-box">
            <li *ngFor="let item of sosAlertsData">
              {{ item.gpsTS | date : "d MMMM" }} : {{ item.locationName }} -
              <strong>{{ item.name }}</strong>
            </li>
          </ul>
        </div>

        <div class="card">
          <h2>Compliance Notifications</h2>
          <ul class="alert-box">
            <li>Vehicle TN01XX3345 – Insurance expired<br /></li>
            <li>Driver 104 – License expiring in 7 days<br /></li>
            <li>Vehicle AP28YZ1234 – Pollution check overdue</li>
          </ul>
        </div>

        <div class="card">
          <h2>On-Time Arrival Ratio</h2>
          <canvas id="ontime"></canvas>
        </div>
        <div class="card">
          <h2>Occupancy Utilization</h2>
          <canvas id="occupancy"></canvas>
        </div>
        <div class="card">
          <h2>Trip Count Trend</h2>
          <canvas id="tripTrend"></canvas>
        </div>
        <div class="card">
          <h2>Scheduled Trips (by Branch)</h2>
          <canvas id="scheduledTrips"></canvas>
        </div>
        <div class="card">
          <h2>Cancelled Trips (by Branch)</h2>
          <canvas id="cancelledTrips"></canvas>
        </div>
        <div class="card">
          <h2>Vendor Trip Distribution</h2>
          <canvas id="vendorTrips"></canvas>
        </div>
        <div class="card">
          <h2>Gender + Shift Mix</h2>
          <canvas id="genderShift"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
